/*------------------------------------*\
  #FONTS
\*------------------------------------*/

@font-face {
    font-family: 'Inter Web';
    font-weight: 400;
    src: url('../fonts/Inter-Regular.woff2') format('woff2');
  }

@font-face {
  font-family: 'Inter Web';
  font-weight: 500;
  src: url('../fonts/Inter-Medium.woff2') format('woff2');
}


@font-face {
    font-family: 'Inter Web';
    font-weight: 600;
    src: url('../fonts/Inter-SemiBold.woff2') format('woff2');
  }


/*------------------------------------*\
  #GENERIC
\*------------------------------------*/

/*
    Generic: Page
    ---
    Global page styles + universal box-sizing:
*/

html {
    font-size: 20px;
    line-height: 1.5;
    font-family: 'Inter Web', arial, sans-serif;
    color: #15181A;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Customize the background color to match your design.
 */

::selection {
    background: #007AB3;
    color: white;
    text-shadow: none;
}

/*------------------------------------*\
  #Elements
\*------------------------------------*/

/*
    Elements: Images
    ---
    Default markup for images to make them responsive
*/

img {
    max-width: 100%;
    vertical-align: top;
}

/*
    Elements: typography
    ---
    Default markup for typographic elements
*/

h1,
h2,
h3 {
    font-weight: 700;
}

h1 {
    font-size: 36px;
    line-height: 48px;
    margin: 0 0 24px;
}

h2 {
    font-size: 32px;
    line-height: 40px;
    margin: 0 0 24px;
}

h3 {
    font-size: 26px;
    line-height: 32px;
    margin: 0 0 24px;
}

h4,
h5,
h6 {
    font-size: 20px;
    line-height: 24px;
    margin: 0 0 24px;
}

p,
ol,
ul,
dl,
table,
address,
figure {
    margin: 0 0 24px;
}

ul,
ol {
    padding-left: 24px;
}

li ul,
li ol {
    margin-bottom: 0;
}

blockquote {
    font-style: normal;
    font-size: 23px;
    line-height: 32px;
    margin: 0 0 24px;
}

blockquote * {
    font-size: inherit;
    line-height: inherit;
}

figcaption {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    margin-top: 8px;
}

hr {
    border: 0;
    height: 1px;
    background: LightGrey;
    margin: 0 0 24px;
}

a {
    color: #007AB3;
    transition: all .1s ease-in-out;
}

a:visited,
a:active {
    color: #007AB3;
}

a:hover,
a:focus {
    color: #005780;
}

/*------------------------------------*\
  #OBJECTS
\*------------------------------------*/

/*
    Objects: Row
    ---
    Creates a horizontal row that stretches the viewport and adds padding around children
*/

.o-row {
    position: relative;
    padding: 24px 24px 0;
    display: flow-root;
}

/* size modifiers */

.o-row--lg {
    padding-top: 48px;
    padding-bottom: 24px;
}

.o-row--xl {
    padding-top: 72px;
    padding-bottom: 48px;
}

@media (min-width: 768px) {
    .o-row {
        padding-left: 48px;
        padding-right: 48px;
    }

    .o-row--md {
        padding-top: 48px;
        padding-bottom: 24px;
    }

    .o-row--lg {
        padding-top: 72px;
        padding-bottom: 48px;
    }
}

@media (min-width: 992px) {
    .o-row--xl {
        padding-top: 96px;
        padding-bottom: 72px;
    }
}

/*
    Objects: Container
    ---
    Creates a horizontal container that sets de global max-width
*/

.o-container {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 50em; /* 90 * 16px = 1440px */
}

/*
    Objects: section
    ---
    Creates vertical whitespace between adjacent sections inside a row
*/

.o-section {
    display: flow-root;
}

.o-section + .o-section {
    margin-top: 24px;
}

@media (min-width: 768px) {
    .o-section--lg + .o-section--lg,
    .o-section--xl + .o-section--xl {
        margin-top: 48px;
    }
}

@media (min-width: 1200px) {
    .o-section--xl + .o-section--xl {
        margin-top: 72px;
    }
}

/*
    Objects: Layout
    ---
    The layout object provides us with a column-style layout system. This object
    contains the basic structural elements, but classes should be complemented
    with width utilities
*/

.o-layout {
    display: flex;
    flex-wrap: wrap;
}

.o-flex-column{
    flex-direction: column;
}

.o-layout__item {
    flex-basis: 100%;
}

/* gutter modifiers, these affect o-layout__item too */

.o-layout--gutter {
    margin: 0 -12px;
}

.o-layout--gutter > .o-layout__item {
    padding: 0 12px;
}

.o-layout--gutter-sm {
    margin: 0 -6px;
}

.o-layout--gutter-sm > .o-layout__item {
    padding: 0 6px;
}

.o-layout--gutter-lg {
    margin: 0 -24px;
}

.o-layout--gutter-lg > .o-layout__item {
    padding: 0 24px;
}

.o-layout--gutter-xl {
    margin: 0 -48px;
}

.o-layout--gutter-xl > .o-layout__item {
    padding: 0 48px;
}

/* reverse horizontal row modifier */

.o-layout--row-reverse {
    flex-direction: row-reverse;
}

/* Horizontal alignment modifiers*/

.o-layout--justify-start {
    justify-content: flex-start;
}

.o-layout--justify-end {
    justify-content: flex-end;
}

.o-layout--justify-center {
    justify-content: center;
}

.o-layout--justify-space-around {
    justify-content: space-around;
}

.o-layout--justify-space-evenly {
    justify-content: space-evenly;
}

.o-layout--justify-space-between {
    justify-content: space-between;
}

/* Vertical alignment modifiers */

.o-layout--align-start {
    align-items: flex-start;
}

.o-layout--align-end {
    align-items: flex-end;
}

.o-layout--align-center {
    align-items: center;
}

.o-layout--align-baseline {
    align-items: baseline;
}

/* Vertical alignment modifiers that only work if there is more than one flex item */

.o-layout--align-content-start {
    align-content: start;
}

.o-layout--align-content-end {
    align-content: end;
}

.o-layout--align-content-center {
    align-content: center;
}

.o-layout--align-content-space-around {
    align-content: space-around;
}

.o-layout--align-content-space-between {
    align-content: space-between;
}

/*
    Objects: List
    ---
    Small reusable object to remove default list styling from lists
*/

.o-list {
    list-style: none;
    padding: 0;
}

/*
    Object: Button reset
    ---
    Small button reset object
*/

.o-button-reset {
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;
    background: transparent;

    /* inherit font & color from ancestor */
    color: inherit;
    font: inherit;

    /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
    line-height: normal;

    /* Corrects font smoothing for webkit */
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;

    /* Corrects inability to style clickable `input` types in iOS */
    -webkit-appearance: none;
}

/*------------------------------------*\
  #COMPONENTS
\*------------------------------------*/

/*
    Component: header
    ---
    Main header of the website
*/


.c-header{
    background-color: #007AB3;
    height: 80px;
    width: 100%
}


/*
    Component: form
    ---
    forms
*/


.c-form{
    max-width: 500px;
    margin: 48px auto;
    padding: 32px;
}

.c-form--date{
    margin: 16px auto;
}

@media(max-width: 1014px){

    .c-form--date{
        margin: 16px auto;
    }
    .c-form--date .c-form__item{
        align-self: center;
    }
}

.c-form__item{
    display: block;
    width: 100%;
    padding: 4px;   
}

.c-form__object + .c-form__object{
    padding-top: 16px;
}


.c-form__btn{
    margin-top: 32px;
    padding: 0 24px;
    background-color: #D4F1FF;
    color: #005780;
    border-style: none;
    box-shadow: 2px 8px 5px rgba(0, 0, 0, 0.1);
    font-size: 20px;
    font-weight: 400;
    line-height: 48px;
    text-transform: uppercase;
    box-sizing: border-box;
    text-align: center;
    vertical-align: middle;
    border-radius: 8px;
    cursor:pointer;  
}

.c-form__btn:active, .c-form__btn:hover{
    background-color: #A1E1FF;
    transition: background-color 0.3s ease;
}


/*
    Component: .c-btn-shutdown
    ---
    button om te rasperry pi uit te schakelen
*/

.c-btn-shutdown{
    color: #005780;
    font-weight: 600;
    background-color: #D4F1FF;
    border: none;
    border-radius: 24px;
    padding: 8px 16px;
    box-shadow: 2px 8px 5px rgba(0, 0, 0, 0.1);
    cursor:pointer;  
}


.c-btn-shutdown:active, .c-btn-shutdown:hover{
    background-color: #A1E1FF;
    transition: background-color 0.3s ease;
}




/*
    Component: header
    ---
    Navigation of the website
*/


.c-nav{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    float: right;
    margin-right: 20px;
}

@media(max-width: 1014px){
    .c-nav{
        position: fixed;
        z-index: 1;
        width:75%;
        height: 100vh;
        background: #005780;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: 0.5s;
    }
}


.c-nav__link{
    text-decoration: none;
    color: white;
    padding: 7px 13px;
    border-radius: 5px;
}

.c-nav__link:visited{
    text-decoration: none;
    color: white
}


.c-nav__link.active, .c-nav__link:hover{
    background: #20B9FF;
    transition: 0.5s;
}

@media(max-width: 1014px){
    .c-nav__link.active, .c-nav__link:hover{
        background: none;
        color: #20B9FF
    }
}

.c-nav__item{
    display: inline-block;
    margin: 0 5px;
    line-height: 80px;
}

@media(max-width: 1014px){
    .c-nav__item{
        display: block;
    }
}

/*
    Component: c-logo
    ---
    Logo of the website
*/

.c-logo{
    color: white;
    font-size: 36px;
    padding: 0 50px;
}


@media(max-width: 448px){
    .c-logo{
        padding: 25px;
        font-size: 32px;
    }
}

@media(max-width: 366px){
    .c-logo{
        padding: 25px;
        font-size: 18px;
    }
}


/*
    Component: c-hamburger
    ---
    Mobile hamburger menu
*/

.c-hamburger{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: None;
}

@media(max-width: 1014px){
    .c-hamburger{
        display: block
    }
}

.c-hamburger__check{
    display: none;
}

.c-hamburger__check:checked ~ .c-nav{
    left: 0;
}


/*
    Component: c-fill-btn
    ---
    vulknop
*/


.c-fill-btn{
    padding: 0 95px;
    background-color: #D4F1FF;
    color: #005780;
    border-radius: 24px;
    border-style: none;
    box-shadow: 2px 8px 5px rgba(0, 0, 0, 0.1);
    font-size: 20px;
    font-weight: 400;
    line-height: 48px;
    text-transform: uppercase;
    box-sizing: border-box;
    text-align: center;
    vertical-align: middle;
    cursor:pointer;  
}

.c-fill-btn:hover{
    background-color: #A1E1FF;
    transition: background-color 0.3s ease;
}

.c-fill-btn--wait{
    background-color: #A1E1FF;
}

.c-fill-btn--active{
    background-color: #007AB3;
    color: white;
    padding: 0px 40px;
}



.c-fill-btn--active > .c-fill-btn__svg{
    fill: white;
}


/*
    Component: c-chart
    ---
    grafieken
*/


.c-chart{
    margin-bottom: 32px;
}



/*
    Component: c-melding
    ---
    meldingen
*/


.c-melding{
    text-align: center;
}


/*
    Component: c-emergency
    ---
    melding bij max niveau detectie
*/

.c-emergency{
    padding: 16px;
    color: red;
    border-color: red;
    border-style: solid;
    border-width: 2px;
    text-align: center;
}




/*------------------------------------*\
  #UTILITIES
\*------------------------------------*/


.u-hide{
    display: none;
}


/*
    Utilities: spacing
    ---
    Utility classes to put specific margins and paddings onto elements
*/

.u-pt-clear {
    padding-top: 0 !important;
}

.u-mb-clear {
    margin-bottom: 0 !important;
}

.u-mb-xs {
    margin-bottom: 4px !important;
}

.u-mb-sm {
    margin-bottom: 8px !important;
}

.u-mb-md {
    margin-bottom: 16px !important;
}

.u-mb-lg {
    margin-bottom: 32px !important;
}

.u-mb-xl {
    margin-bottom: 48px !important;
}

/*
    Utilities: max-width
    ---
    Utility classes to put specific max widths onto elements
*/

.u-max-width-xs {
    max-width: 18em !important;
}

.u-max-width-sm {
    max-width: 39em !important;
}

.u-max-width-md {
    max-width: 50em !important;
}

.u-max-width-lg {
    max-width: 63.5em !important;
}

.u-max-width-none {
    max-width: none !important;
}

/*
    Utility: Flex
    ---
    Utility classes to put specific flex properties onto elements
    Will be mostly used on o-layout__item
*/

.u-flex-basis-auto {
    flex-basis: auto !important;
}

.u-flex-grow-1 {
    flex-grow: 1 !important;
}

.u-1-of-2 {
    flex-basis: calc(100% / 2) !important;
}

.u-1-of-3 {
    flex-basis: calc(100% / 3) !important;
}

.u-2-of-3 {
    flex-basis: calc(100% / 3 * 2) !important;
}

.u-1-of-4 {
    flex-basis: calc(100% / 4) !important;
}

.u-3-of-4 {
    flex-basis: calc(100% / 4 * 3) !important;
}

.u-1-of-5 {
    flex-basis: calc(100% / 5) !important;
}

.u-2-of-5 {
    flex-basis: calc(100% / 5 * 2) !important;
}

.u-3-of-5 {
    flex-basis: calc(100% / 5 * 3) !important;
}

.u-4-of-5 {
    flex-basis: calc(100% / 5 * 4) !important;
}

.u-1-of-6 {
    flex-basis: calc(100% / 6) !important;
}

.u-5-of-6 {
    flex-basis: calc(100% / 6 * 5) !important;
}

@media (min-width: 576px) {
    .u-1-of-2-bp1 {
        flex-basis: calc(100% / 2) !important;
    }
    .u-1-of-3-bp1 {
        flex-basis: calc(100% / 3) !important;
    }
    .u-2-of-3-bp1 {
        flex-basis: calc(100% / 3 * 2) !important;
    }
    .u-1-of-4-bp1 {
        flex-basis: calc(100% / 4) !important;
    }
    .u-3-of-4-bp1 {
        flex-basis: calc(100% / 4 * 3) !important;
    }
    .u-1-of-5-bp1 {
        flex-basis: calc(100% / 5) !important;
    }
    .u-2-of-5-bp1 {
        flex-basis: calc(100% / 5 * 2) !important;
    }
    .u-3-of-5-bp1 {
        flex-basis: calc(100% / 5 * 3) !important;
    }
    .u-4-of-5-bp1 {
        flex-basis: calc(100% / 5 * 4) !important;
    }
    .u-1-of-6-bp1 {
        flex-basis: calc(100% / 6) !important;
    }
    .u-5-of-6-bp1 {
        flex-basis: calc(100% / 6 * 5) !important;
    }
}

@media (min-width: 768px) {
    .u-1-of-2-bp2 {
        flex-basis: calc(100% / 2) !important;
    }
    .u-1-of-3-bp2 {
        flex-basis: calc(100% / 3) !important;
    }
    .u-2-of-3-bp2 {
        flex-basis: calc(100% / 3 * 2) !important;
    }
    .u-1-of-4-bp2 {
        flex-basis: calc(100% / 4) !important;
    }
    .u-3-of-4-bp2 {
        flex-basis: calc(100% / 4 * 3) !important;
    }
    .u-1-of-5-bp2 {
        flex-basis: calc(100% / 5) !important;
    }
    .u-2-of-5-bp2 {
        flex-basis: calc(100% / 5 * 2) !important;
    }
    .u-3-of-5-bp2 {
        flex-basis: calc(100% / 5 * 3) !important;
    }
    .u-4-of-5-bp2 {
        flex-basis: calc(100% / 5 * 4) !important;
    }
    .u-1-of-6-bp2 {
        flex-basis: calc(100% / 6) !important;
    }
    .u-5-of-6-bp2 {
        flex-basis: calc(100% / 6 * 5) !important;
    }
}

@media (min-width: 992px) {
    .u-1-of-2-bp3 {
        flex-basis: calc(100% / 2) !important;
    }
    .u-1-of-3-bp3 {
        flex-basis: calc(100% / 3) !important;
    }
    .u-2-of-3-bp3 {
        flex-basis: calc(100% / 3 * 2) !important;
    }
    .u-1-of-4-bp3 {
        flex-basis: calc(100% / 4) !important;
    }
    .u-3-of-4-bp3 {
        flex-basis: calc(100% / 4 * 3) !important;
    }
    .u-1-of-5-bp3 {
        flex-basis: calc(100% / 5) !important;
    }
    .u-2-of-5-bp3 {
        flex-basis: calc(100% / 5 * 2) !important;
    }
    .u-3-of-5-bp3 {
        flex-basis: calc(100% / 5 * 3) !important;
    }
    .u-4-of-5-bp3 {
        flex-basis: calc(100% / 5 * 4) !important;
    }
    .u-1-of-6-bp3 {
        flex-basis: calc(100% / 6) !important;
    }
    .u-5-of-6-bp3 {
        flex-basis: calc(100% / 6 * 5) !important;
    }
}

@media (min-width: 1200px) {
    .u-1-of-2-bp4 {
        flex-basis: calc(100% / 2) !important;
    }
    .u-1-of-3-bp4 {
        flex-basis: calc(100% / 3) !important;
    }
    .u-2-of-3-bp4 {
        flex-basis: calc(100% / 3 * 2) !important;
    }
    .u-1-of-4-bp4 {
        flex-basis: calc(100% / 4) !important;
    }
    .u-3-of-4-bp4 {
        flex-basis: calc(100% / 4 * 3) !important;
    }
    .u-1-of-5-bp4 {
        flex-basis: calc(100% / 5) !important;
    }
    .u-2-of-5-bp4 {
        flex-basis: calc(100% / 5 * 2) !important;
    }
    .u-3-of-5-bp4 {
        flex-basis: calc(100% / 5 * 3) !important;
    }
    .u-4-of-5-bp4 {
        flex-basis: calc(100% / 5 * 4) !important;
    }
    .u-1-of-6-bp4 {
        flex-basis: calc(100% / 6) !important;
    }
    .u-5-of-6-bp4 {
        flex-basis: calc(100% / 6 * 5) !important;
    }
}



/*------------------------------------*\
  #MEDIA
\*------------------------------------*/

/*
    Print styles.
    ---
    Inlined to avoid the additional HTTP request:
    http://www.phpied.com/delay-loading-your-print-css/
*/

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        /* Black prints faster: http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }
    a,
    a:visited {
        text-decoration: underline;
    }
    a[href]:after {
        content: " (" attr(href) ")";
    }
    abbr[title]:after {
        content: " (" attr(title) ")";
    }
    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }
    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }
    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */
    thead {
        display: table-header-group;
    }
    tr,
    img {
        page-break-inside: avoid;
    }
    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }
    h2,
    h3 {
        page-break-after: avoid;
    }
}
